@use 'variables' as *;

.home-container {
  margin: auto;
  padding: 3rem;
  text-transform: uppercase;
  text-align: center;

  .home-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
    }
    .home-title-main {
      font-weight: 800;
      font-size: 64px;
      font-family: "Quantico", sans-serif !important;
      color: $red-color;
    }

    .home-title-sub {
      font-weight: 100;
      font-size: 64px;
      font-family: "Quantico", sans-serif !important;
      opacity: 0.7;
    }

    .home-title-main,
    .home-title-sub {
      max-width: 100%;
      word-break: break-word;
    }
  }

  h3 {
    font-weight: 300;
    opacity: 0.5;
    font-family: "Walter Turncoat", cursive !important;
  }
}

:host {
  display: flex;
  flex: 1;
}


@media (max-width: 573px) {
  .home-container {
    padding: 3rem;
    font-family: "Noto Serif", serif;
    text-transform: uppercase;
    text-align: center;

    .home-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .home-title-main {
        font-weight: 800;
        font-size: 36px;
      }

      .home-title-sub {
        font-weight: 100;
        font-size: 32px;
      }

      .home-title-main,
      .home-title-sub {
        max-width: 100%;
        word-break: break-word;
      }
    }

    h3 {
      font-weight: 300;
      opacity: 0.5;
    }
  }
}
