@use 'variables' as *;

.home-container {
  padding: 3rem;
  margin: auto;

  .head-container {
    .resume {
      margin-top: 0.5rem;
      font-family: "JetBrains Mono", monospace;
      font-size: 12px;
      opacity: 0.5;
      width: 40%;
    }

    .page-header {
      display: flex;
      flex-direction: column;
      font-family: "Noto Serif", serif !important;
      font-size: 54px;
      font-style: italic;

      .sub-quote {
        color: $red-color !important;
      }
    }
  }



}


@media (max-width: 711px) {
  .body-container {
    flex-direction: column !important;
  }

  .project-metadata {
    width: 100% !important;
  }

  .resume {
    width: 100% !important;
  }
}
